.DS_Store
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-server.log
deploy.tar
.idea/
*.map

extras/
static/textures/
static/src/
static/models/
static/js/
assets/
dist/